@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,600&display=swap');

// Remove default styles
html,
body {
	width: 100vw;
	margin: 0;
	padding: 0;

	-ms-overflow-style: none;
	scrollbar-width: none;
	scroll-behavior: smooth;

	&::-webkit-scrollbar {
		-webkit-appearance: none;
		display: none;
	}
}

* {
	-webkit-tap-highlight-color: transparent;

	&:focus-visible {
		outline: none;
	}
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	text-decoration: none;
}

// General styles
:root {
	font-family: 'Montserrat', sans-serif;

	--bg-top: #151223;
	--bg-bottom: #090810;
	--text-primary: #ffffff;

	// --accent-gradient: linear-gradient(45deg, #40c9ff, #e81cff);
	// --accent-gradient: linear-gradient(45deg, #00ff87, #60efff);
	// --accent-gradient: linear-gradient(45deg, #ff930f, #fff95b);
	// --accent-gradient: linear-gradient(45deg, #F9E7BB, #E97CBB, #3D47D9);
	// --accent-gradient: linear-gradient(45deg, #eeaeca, #94bbe9);
	// --accent-gradient: linear-gradient(45deg, #45caff, #ff1b6b);
	--accent-gradient: linear-gradient(45deg, #fdbb2d, #b022c3);

	// --rainbow-gradient: linear-gradient(45deg,
	// 		#b721ff,
	// 		#2af598,
	// 		#fec051,
	// 		#fee140,
	// 		#fa709a);
}

body {
	background: linear-gradient(var(--bg-top) 0%, var(--bg-top) 100vh, var(--bg-bottom) 100%);
	background-size: 100%;
	background-repeat: no-repeat;

	color: var(--text-primary);

	&.lock-scroll {
		height: 100%;
		overflow: hidden;
	}
}

header {
	position: fixed;
	top: 0;
	right: 0;

	.nav-btn {
		position: relative;
		background-color: transparent;
		border-style: none;
		width: 50px;
		height: 50px;
		cursor: pointer;
		z-index: 2;
	}

	.hamburger {
		position: relative;

		&::before,
		&::after {
			content: '';
			position: absolute;
			background-color: var(--text-primary);
			width: 30px;
			height: 2px;
			transition: transform 0.5s ease-in-out,
				bottom 0.5s ease-in-out,
				top 0.5s ease-in-out,
				width 0.5s ease-in-out;
		}

		&::before {
			bottom: 5px;
			left: 0;
		}

		&::after {
			top: 5px;
			left: 0;
		}
	}

	nav {
		// background: var(--rainbow-gradient);
		// background-size: 2000%;
		background: var(--accent-gradient);
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 1;
		transform: translateX(100%);
		transition: transform 0.3s ease;
		animation: bg-anim 60s infinite;

		.page-links {
			display: flex;
			margin-top: calc((40vh - 40px - 2em)/2);
			height: calc(60vh - 40px - 2em);
			flex-direction: column;
			justify-content: space-between;
			text-align: center;

			a {
				font-size: 2.4em;
				color: var(--text-primary);
			}
		}

		.social-links {
			bottom: 20px;
			margin-left: 20%;
			width: 60%;
			display: flex;
			position: fixed;
			justify-content: space-between;

			a {
				font-size: 2em;
				color: var(--text-primary);
			}
		}
	}

	// .social-links {
	// 	bottom: 0;
	// }

	&.open-nav {
		nav {
			transform: translateX(0);
		}

		.hamburger {

			&::before,
			&::after {
				width: 40px;
			}

			&::before {
				bottom: -1px;
				transform: rotate(405deg)
			}

			&::after {
				top: -1px;
				transform: rotate(-405deg)
			}
		}
	}
}

.logo {
	position: fixed;
	display: block;
	top: 0;
	left: 0;
	padding: 0.5em 0.5em 0.5em 0.7em;
	font-size: 1.5em;
	color: var(--text-primary);
}

.hero {
	// height: calc(100vh - 2.5em);
	height: 100vh;
	// display: flex;
	// justify-content: center;

	.hero-content {
		padding-top: 25vh;
	}

	h2 {
		display: none;
	}

	h1 {
		text-align: center;
		font-size: 18vw;
		font-weight: 600;
		// margin-top: 25vh;
		color: transparent;
		background: var(--accent-gradient);
		background-clip: text;
		// user-select: none;

		// background: var(--rainbow-gradient);
		// background-size: 1000%;
		animation: bg-anim 60s infinite;
	}
}

.scroll-prompt {
	position: fixed;
	bottom: 1.25em;
	display: flex;
	width: 100%;
	justify-content: center;
	animation: text-pop-anim 3s infinite ease-in-out;
	transition: transform 0.3s ease-in-out;

	&.hidden {
		transform: translateY(300%);
	}

	.scroll-text {
		display: relative;
		user-select: none;

		&::after {
			content: '';
			position: absolute;
			background-color: var(--text-primary);
			width: 2px;
			height: 2em;
			top: 1.4em;
			left: 50%;
		}
	}
}

.content {}

@keyframes bg-anim {
	0% {
		// background-position: left;
		filter: hue-rotate(0deg);
	}

	100% {
		// background-position: right;
		// filter: hue-rotate(360deg);
	}
}

@keyframes text-pop-anim {
	0% {
		bottom: 1.25em;
	}

	80% {
		bottom: 1.25em;
	}

	90% {
		bottom: 2em;
	}

	100% {
		bottom: 1.25em;
	}
}

@media screen and (min-width: 600px) {
	.nav-btn {
		display: none;
	}

	header {
		nav {
			background: unset;
			bottom: unset;
			left: unset;
			transform: unset;
			transition: unset;
			animation: unset;

			.page-links {
				margin-top: unset;
				height: unset;
				flex-direction: row;

				a {
					font-size: 1.2em;
					display: block;
					padding: 0.25em 0.5em;
					margin: 0.525em 0.5em;
					position: relative;

					&::after {
						content: '';
						position: absolute;
						left: 0;
						bottom: 0;
						width: 100%;
						height: 2px;
						background: var(--accent-gradient);
						transform: scaleX(0);
						transform-origin: left;
						transition: transform 0.12s ease-in;
					}

					&:hover::after {
						transform: scaleX(1);
					}
				}

				.home-link {
					display: none;
				}
			}

			// .social-links {
			// 	display: none;
			// }

			.social-links {
				flex-direction: column;
				margin-left: unset;
				width: unset;
				bottom: 10px;
				right: 10px;

				a {
					font-size: 1.5em;
					display: block;
					padding: 0.4em;
					color: var(--text-primary);
					background: var(--accent-gradient);
					background-clip: text;
					transition: transform 0.12s ease-in,
						color 0.15s ease-in;

					&:hover {
						transform: translateY(-2px);
						color: transparent;
					}
				}
			}
		}
	}

	.logo {
		font-weight: 600;
		color: white;
		background: var(--accent-gradient);
		background-clip: text;
		transition: transform 0.5s ease-in-out,
			color 0.2s ease-in;

		&.hidden {
			transform: translateX(-100%);
		}

		&:hover {
			// TODO Is there a better hover affect for the logo
			color: transparent;
		}
	}

	.hero {
		margin-left: 15%;
		width: 70%;
		// background-color: #fdbb2d88;

		h2 {
			display: unset;
			font-weight: normal;
			font-size: 2.5em;
		}

		h1 {
			text-align: unset;
			font-size: min(7.5vw, 6.5em);
			margin: 0;
		}
	}

	.scroll-prompt {
		width: unset;
		left: 1em;

		.scroll-text {
			writing-mode: vertical-lr;

			&::after {
				top: 6.3em;
				left: 40%
			}
		}
	}
}

// @media screen and (min-width: 2200px) {
// 	:root {
// 		font-size: 1.3em;
// 	}
// }

.useless {
	height: 1000vh;
}